* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #303238;
    color: #7b818c;
    font-family: monospace;
}
#wrapper {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.section {
    margin: 0 0 20px 0;
    padding: 10px;
    text-align: center;
}
h1 {
    padding: 40px 0 50px 0;
    font-size: 26px;
}
input {
    height: 40px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    font-family: monospace;
    font-size: 20px;
    color: #303238;
}
button {
    width: 22%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #d37961;
    color: #ffffff;
    font-family: monospace;
    font-size: 20px;
}
button:hover {
    background-color: #30333c;
    cursor: pointer;
    border: 2px solid #d37961;
}
ul {
    list-style-type: none;
    font-size: 18px;
    padding: 10px 30px;
}
li {
    text-align: left;
    padding: 13px 0;
    color: #ffffff;
}
.remove {
    width: 35px;
    height: 35px;
    float: right;
    color: #ffffff;
    background-color: #d37961;
    font-size: 27px;
    text-align: center;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: 12px;
    transition: 0.3s;
}
.remove:hover {
    cursor: pointer;
    background-color: #30333c;
    color: #d37961;
    font-weight: bold;
    transform: scale(1.1);
}
@media screen and (max-width: 400px){
    h1 {
        font-size: 17px;
        padding: 20px 0 35px 0;
    }
    input {
        height: 35px;
        width: 100%;
        font-size: 17px;
    }
    button {
        width: 120px;
        height: 30px;
        margin-top: 20px;
        font-size: 16px;
    }
    ul {
        font-size: 15px;
        padding: 0;
    }
    li {
        padding: 10px 0;
    }
    .remove {
      width: 25px;
      height: 25px;
      font-size: 19px; 
        margin-top: -1px;
    }
    .remove:hover {
        transform: none;
    }
}
@media screen and (min-width: 400.5px) and (max-width: 600px) {
    h1 {
        font-size: 23px;
        padding-bottom: 25px;
    }
    input {
        width: 100%;
        font-size: 17px;
    }
    button {
        width: 120px;
        height: 35px;
        margin-top: 20px;
        font-size: 17px;
    }
    .section {
        margin: 0;
    }
    ul {
        font-size: 16px;
        padding: 0 10px;
    }
    .remove {
        width: 25px;
        height: 25px;
        font-size: 19px;
        margin-top: -1px;
    }
}













